::deep.root {
  --imgHeight: 100px;
}
::deep.root .title-holder {
  position: absolute;
  top: 0;
  z-index: 1;
  font-size: larger;
  font-weight: bolder;
}
::deep.root .band-holder, ::deep.root .boundaries, ::deep.root .found-colours, ::deep.root .colour-blade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
::deep.root .band-holder img {
  transform: rotate(90deg);
  transform-origin: top left;
  margin-left: var(--imgHeight);
  width: 100vh;
  height: var(--imgHeight);
}
::deep.root .boundaries .boundary {
  position: absolute;
  padding-left: var(--imgHeight);
  left: 0;
}
::deep.root .boundaries .boundary.blank {
  display: none;
}
::deep.root .boundaries .boundary label {
  border-bottom: 3px solid black;
  padding: 0 0.5rem;
  font-weight: bold;
  font-size: x-large;
  transform: translateY(-100%);
  display: block;
}
::deep.root .boundaries .boundary:not(.inverted) {
  border-top: 3px solid black;
}
::deep.root .boundaries .boundary.inverted {
  border-top: 3px solid white;
}
::deep.root .boundaries .boundary[style="top:0vh"] label {
  transform: none;
  border-bottom: none;
}
::deep.root .found-colours.has-active .colour:not(.active) .swatch {
  opacity: 0.5;
}
::deep.root .found-colours .colour {
  position: absolute;
  width: 100%;
}
::deep.root .found-colours .colour .swatch {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
::deep.root .found-colours .colour .dets {
  position: relative;
  margin-left: calc(var(--imgHeight));
  padding: 0.25rem;
  display: none;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.36);
  background: white;
  border: 0.75rem solid;
}
::deep.root .found-colours .colour .dets.above {
  transform: translateY(-100%);
}
::deep.root .found-colours .colour .dets button {
  position: absolute;
  right: -0.75rem;
  top: -0.75rem;
  background: none;
  border-width: 1px;
}
::deep.root .found-colours .colour.active .dets {
  display: inline-block;
}
::deep.root .colour-blade {
  display: inline-flex;
  flex-direction: row;
}
::deep.root .colour-blade:not([visible]) {
  display: none;
}
::deep.root .colour-blade .click-catcher {
  width: 100%;
}
::deep.root .colour-blade .colour-list {
  max-width: 300px;
  min-width: 150px;
  border-left: 2px solid #666;
  background: white;
  overflow-y: scroll;
}
::deep.root .colour-blade .colour-list .colour {
  padding-left: 0.25rem;
  margin-bottom: 0.5rem;
}
::deep.root .colour-blade .colour-list .colour .swatch {
  margin-left: -0.25rem;
  height: 1.5rem;
  margin-bottom: -1.25rem;
}
