@page "/"
@using ColourMatcher.Site.Code

<div class="root">



@foreach (var f in Boundaries.Filenames)
{
    var src = $"./Bands/{f.ToLower()}.png";
    var url = $"./Band/{f.ToLower()}";
    <a href="@url">
        <img src="@src" height="50" />
        <span class="title">
            @f
        </span>
    </a>
}
<div>
    <div>
        <h3>
            FAQ
        </h3>
        <div>
            <h4>
                What is all of this?
            </h4>
            <div>
                Over 4 thousand colours have been matched against the colour bands. Not every band has any matches, some have a lot, some have none, many have only a few.
            </div>
        </div>
        <div>
            <h4>
                But why?
            </h4>
            <div>
                We matched Pantone and Valspar colours as these are systems provide physical cards that people can go and get so no matter what the lighting condition is when purchasing fabrics you'll know what you're looking at
            </div>
        </div>
            <div>
                <h4>
                    How?
                </h4>
                <div>
                    Select a colour band. When the page has loaded you'll see a band on the left, this is the band found in the dyers doc. You'll also see bands going accross the page. These are the matched colours. If you click/tap it you'll be given info on the colour.
                </div>
                <div>
                    If you want to see all the colours we found, click/tap the band name, it'll show you all the colours in a list.
                </div>
            </div>
        <div>
            <h4>
                Why is the UI so ugly?
            </h4>
            <div>
                I made this site in like 2 days, and I had to skim the Pantone website and the Valspar site in that time as well. I'm not spending huge amounts of time on a good UI.
            </div>
        </div>
        <div>
            <h4>
                grrrrr colour gamut
            </h4>
            <div>
                If you know you know. This site uses RGB to represents the colours which comprises *most* of the colours the human eye can see. This is primarily done because most sites like Pantone don't publish the colours in other colour schemes so I couldn't get hold of those ones. This system is still fundimentally flawed and there's not really a huge amount I can do about that.
            </div>
            <div>
                Here some fun YouTube videos to watch if you really want to go down this rabbit hole
            </div>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=FTKP0Y9MVus" target="_blank">
                        "CD / Color" - Captain Disillusion
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=wh4aWZRtTwU" target="_blank">
                        "Brown; color is weird" - Technology Connections
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=HeKuX063bcs" target="_blank">
                        "What Colour Is My Hoodie?" - Tom Scott
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=jiiV9TciUfE" target="_blank">
                        "How one company owns color" - Phil Edwards
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <h4>
                Did you make up these FAQs?
            </h4>
            <div>
                Yes, literally no one has asked me for this.
            </div>
        </div>
    </div>
</div>
</div>