@page "/"
@using ColourMatcher.Site.Code

<div class="root">



@foreach (var f in Boundaries.Filenames)
{
    var src = $"./Bands/{f.ToLower()}.png";
    var url = $"/Band/{f.ToLower()}";
    <a href="@url">
        <img src="@src" height="50" />
        <span class="title">
            @f
        </span>
    </a>
}

</div>